header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}

header h1 {
  font-size: 20px;
  margin: 0;
}

.home-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.menu {
  position: relative;
}

.menu-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

header h1 {
  font-size: 20px;
  margin: 0;
}

.home-btn, .menu-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.home-btn:hover, .menu-btn:hover {
  background-color: #0056b3;
}

.back-btn {
    background: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s ease;
}

.back-btn:hover {
    color: #0056b3;
}


.dropdown {
    display: none; /* 기본적으로 숨김 */
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 0;
    width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.dropdown a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

.dropdown a:hover {
  background-color: #f0f0f0;
}